.vue-advanced-cropper {
    height: 100% !important;
    max-width: 380px !important;
}

.preview {
    border: dashed 1px #000000;
}

.vue-simple-handler {
    background: #000000 !important;
    width: 5px !important;
    height: 5px !important;
}

.vue-advanced-cropper__background, .vue-advanced-cropper__foreground {
    background: #C1CFEA !important;
}